{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}"> <!-- Підключення CSS файлу -->
</head>
<body>
    <div class="profile-container">
        <div class="profile-picture">
            <!-- Фотографія профілю -->
            <img src="{% static 'images/profile_picture.jpg' %}" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <!-- Ім'я користувача -->
            <h1>{{ user.username }}</h1>
            <!-- Додаткові дані профілю, які можна вивести -->
            <!-- <p>Email: {{ user.email }}</p> -->
            <!-- <p>Location: {{ user.location }}</p> -->
        </div>
    </div>
</body>
</html>
